In [2]:
#Establezco el entorno y llamo los archivos a analizar

import pandas as pd
import numpy as np

In [10]:
file1 = pd.read_csv(r'C:\Users\100094606\Documents\IRON HACK\1 week\3. Labs\Lab_Customer_Analysis_Round_1\csv_files\file1.csv')
file2 = pd.read_csv(r'C:\Users\100094606\Documents\IRON HACK\1 week\3. Labs\Lab_Customer_Analysis_Round_1\csv_files\file2.csv')
file3 = pd.read_csv(r'C:\Users\100094606\Documents\IRON HACK\1 week\3. Labs\Lab_Customer_Analysis_Round_1\csv_files\file3.csv')

In [12]:
#Lectura de los archivos como data frame 

print("File 1 shape:", file1.shape)
print("File 2 shape:", file2.shape)
print("File 3 shape:", file3.shape)

File 1 shape: (4008, 11)
File 2 shape: (996, 11)
File 3 shape: (7070, 11)

In [13]:
#Despliego en una lista los encabezados de la comlumnas del data frame para identificar irregularidades

file1.columns.values.tolist()
file2.columns.values.tolist()
file3.columns.values.tolist()

['Customer',
 'State',
 'Customer Lifetime Value',
 'Education',
 'Gender',
 'Income',
 'Monthly Premium Auto',
 'Number of Open Complaints',
 'Policy Type',
 'Total Claim Amount',
 'Vehicle Class']

In [14]:
#Convierto las cabeceras de las columnas en string
file1.columns = file1.columns.astype("str")
file2.columns = file2.columns.astype("str")
file3.columns = file3.columns.astype("str")

In [15]:
#Estandarizo las cabeceras de las columnas en mayúsculas
file1.columns = file1.columns.str.upper()
file2.columns = file2.columns.str.upper()
file3.columns = file3.columns.str.upper()

In [16]:
#Observo los cambios realizados en el encabezado de las columnas
file1.columns.values.tolist()
file2.columns.values.tolist()
file3.columns.values.tolist()

['CUSTOMER',
 'STATE',
 'CUSTOMER LIFETIME VALUE',
 'EDUCATION',
 'GENDER',
 'INCOME',
 'MONTHLY PREMIUM AUTO',
 'NUMBER OF OPEN COMPLAINTS',
 'POLICY TYPE',
 'TOTAL CLAIM AMOUNT',
 'VEHICLE CLASS']

In [ ]:
#Para reorganizar las columnas de los dataframe, decido generar una lista con los nombres de los encabezados de las columnas, para cada archivo.

In [17]:
file1 = file1.reindex(columns=['CUSTOMER', 'STATE', 'CUSTOMER LIFETIME VALUE', 'EDUCATION', 'GENDER', 'INCOME', 'MONTHLY PREMIUM AUTO', 'NUMBER OF OPEN COMPLAINTS', 'POLICY TYPE', 'TOTAL CLAIM AMOUNT', 'VEHICLE CLASS'])

In [18]:
file2 = file2.reindex(columns=['CUSTOMER', 'STATE', 'CUSTOMER LIFETIME VALUE', 'EDUCATION', 'GENDER', 'INCOME', 'MONTHLY PREMIUM AUTO', 'NUMBER OF OPEN COMPLAINTS', 'POLICY TYPE', 'TOTAL CLAIM AMOUNT', 'VEHICLE CLASS'])

In [19]:
file3 = file3.reindex(columns=['CUSTOMER', 'STATE', 'CUSTOMER LIFETIME VALUE', 'EDUCATION', 'GENDER', 'INCOME', 'MONTHLY PREMIUM AUTO', 'NUMBER OF OPEN COMPLAINTS', 'POLICY TYPE', 'TOTAL CLAIM AMOUNT', 'VEHICLE CLASS'])

In [20]:
#Reviso los índices
print(file1.columns)
print(file2.columns)
print(file3.columns)

Index(['CUSTOMER', 'STATE', 'CUSTOMER LIFETIME VALUE', 'EDUCATION', 'GENDER',
       'INCOME', 'MONTHLY PREMIUM AUTO', 'NUMBER OF OPEN COMPLAINTS',
       'POLICY TYPE', 'TOTAL CLAIM AMOUNT', 'VEHICLE CLASS'],
      dtype='object')
Index(['CUSTOMER', 'STATE', 'CUSTOMER LIFETIME VALUE', 'EDUCATION', 'GENDER',
       'INCOME', 'MONTHLY PREMIUM AUTO', 'NUMBER OF OPEN COMPLAINTS',
       'POLICY TYPE', 'TOTAL CLAIM AMOUNT', 'VEHICLE CLASS'],
      dtype='object')
Index(['CUSTOMER', 'STATE', 'CUSTOMER LIFETIME VALUE', 'EDUCATION', 'GENDER',
       'INCOME', 'MONTHLY PREMIUM AUTO', 'NUMBER OF OPEN COMPLAINTS',
       'POLICY TYPE', 'TOTAL CLAIM AMOUNT', 'VEHICLE CLASS'],
      dtype='object')

In [21]:
# Concatenar dataframes
data = pd.concat([file1, file2, file3], axis=0)

In [22]:
print(data.shape)
print(data.head())
print(data.sample())

(12074, 11)
  CUSTOMER STATE CUSTOMER LIFETIME VALUE             EDUCATION GENDER  \
0  RB50392   NaN                     NaN                Master    NaN
1  QZ44356   NaN              697953.59%              Bachelor      F
2  AI49188   NaN             1288743.17%              Bachelor      F
3  WW63253   NaN              764586.18%              Bachelor      M
4  GA49547   NaN              536307.65%  High School or Below      M

    INCOME  MONTHLY PREMIUM AUTO NUMBER OF OPEN COMPLAINTS     POLICY TYPE  \
0      0.0                1000.0                    1/0/00   Personal Auto
1      0.0                  94.0                    1/0/00   Personal Auto
2  48767.0                 108.0                    1/0/00   Personal Auto
3      0.0                 106.0                    1/0/00  Corporate Auto
4  36357.0                  68.0                    1/0/00   Personal Auto

   TOTAL CLAIM AMOUNT  VEHICLE CLASS
0            2.704934  Four-Door Car
1         1131.464935  Four-Door Car
2          566.472247   Two-Door Car
3          529.881344            SUV
4           17.269323  Four-Door Car
     CUSTOMER    STATE CUSTOMER LIFETIME VALUE EDUCATION GENDER  INCOME  \
6339  IO57824  Arizona             2953.797658  Bachelor      M     0.0

      MONTHLY PREMIUM AUTO NUMBER OF OPEN COMPLAINTS    POLICY TYPE  \
6339                  87.0                         2  Personal Auto

      TOTAL CLAIM AMOUNT  VEHICLE CLASS
6339          414.190987  Four-Door Car

In [23]:
# Identifico columnas numéricas
numeric_cols = data.select_dtypes(include=['float64', 'int64']).columns.tolist()

In [24]:
print(numeric_cols)

['INCOME', 'MONTHLY PREMIUM AUTO', 'TOTAL CLAIM AMOUNT']

In [25]:
#Identifico columnas con variables categóricas

In [26]:
categorical_cols = data.select_dtypes(include=['object']).columns.tolist()

In [27]:
print(categorical_cols)

['CUSTOMER', 'STATE', 'CUSTOMER LIFETIME VALUE', 'EDUCATION', 'GENDER', 'NUMBER OF OPEN COMPLAINTS', 'POLICY TYPE', 'VEHICLE CLASS']

In [28]:
#identifico el tipo de datos
print(data.dtypes)

CUSTOMER                      object
STATE                         object
CUSTOMER LIFETIME VALUE       object
EDUCATION                     object
GENDER                        object
INCOME                       float64
MONTHLY PREMIUM AUTO         float64
NUMBER OF OPEN COMPLAINTS     object
POLICY TYPE                   object
TOTAL CLAIM AMOUNT           float64
VEHICLE CLASS                 object
dtype: object

In [29]:
#Elimino la columna ''EDUCATION'' y ''NUMBER OF OPEN COMPLAINTS''
data = data.drop(['EDUCATION', 'NUMBER OF OPEN COMPLAINTS'], axis=1)

In [30]:
print(data)

     CUSTOMER       STATE CUSTOMER LIFETIME VALUE GENDER   INCOME  \
0     RB50392         NaN                     NaN    NaN      0.0
1     QZ44356         NaN              697953.59%      F      0.0
2     AI49188         NaN             1288743.17%      F  48767.0
3     WW63253         NaN              764586.18%      M      0.0
4     GA49547         NaN              536307.65%      M  36357.0
...       ...         ...                     ...    ...      ...
7065  LA72316  California             23405.98798      M  71941.0
7066  PK87824  California             3096.511217      F  21604.0
7067  TD14365  California             8163.890428      M      0.0
7068  UP19263  California             7524.442436      M  21941.0
7069  Y167826  California             2611.836866      M      0.0

      MONTHLY PREMIUM AUTO     POLICY TYPE  TOTAL CLAIM AMOUNT  VEHICLE CLASS
0                   1000.0   Personal Auto            2.704934  Four-Door Car
1                     94.0   Personal Auto         1131.464935  Four-Door Car
2                    108.0   Personal Auto          566.472247   Two-Door Car
3                    106.0  Corporate Auto          529.881344            SUV
4                     68.0   Personal Auto           17.269323  Four-Door Car
...                    ...             ...                 ...            ...
7065                  73.0   Personal Auto          198.234764  Four-Door Car
7066                  79.0  Corporate Auto          379.200000  Four-Door Car
7067                  85.0  Corporate Auto          790.784983  Four-Door Car
7068                  96.0   Personal Auto          691.200000  Four-Door Car
7069                  77.0  Corporate Auto          369.600000   Two-Door Car

[12074 rows x 9 columns]

In [31]:
data['CUSTOMER LIFETIME VALUE']

0               NaN
1        697953.59%
2       1288743.17%
3        764586.18%
4        536307.65%
           ...
7065    23405.98798
7066    3096.511217
7067    8163.890428
7068    7524.442436
7069    2611.836866
Name: CUSTOMER LIFETIME VALUE, Length: 12074, dtype: object

In [32]:
#Cambio el valor de la columna ''CUSTOMER LIFETIME VALUE', de porcentaje a dato numérico.
print(data['CUSTOMER LIFETIME VALUE'].value_counts())

16468.220790    6
5246.278375     6
22332.439460    6
4270.034394     6
5107.163002     6
               ..
7477.176362     1
15700.284360    1
2968.077571     1
5452.171237     1
2611.836866     1
Name: CUSTOMER LIFETIME VALUE, Length: 8211, dtype: int64

In [33]:
mask = data['CUSTOMER LIFETIME VALUE'].notna() & data['CUSTOMER LIFETIME VALUE'].str.contains('%')
data.loc[mask, 'CUSTOMER LIFETIME VALUE'] = pd.to_numeric(data.loc[mask, 'CUSTOMER LIFETIME VALUE'].str.replace('%', '')) * 100

In [34]:
data['CUSTOMER LIFETIME VALUE']

0               NaN
1        69795359.0
2       128874317.0
3        76458618.0
4        53630765.0
           ...
7065    23405.98798
7066    3096.511217
7067    8163.890428
7068    7524.442436
7069    2611.836866
Name: CUSTOMER LIFETIME VALUE, Length: 12074, dtype: object

In [35]:
#Comrpuebo si existen filas duplicadas en los datos
print("Número de filas antes de eliminar duplicados:", len(data))
data = data.drop_duplicates()
print("Número de filas después de eliminar duplicados:", len(data))

Número de filas antes de eliminar duplicados: 12074
Número de filas después de eliminar duplicados: 9135

In [36]:
num_filas_antes = len(data)

In [37]:
# Filtro los clientes que muestran un ingreso menor o igual a 0
mask = data['INCOME'] <= 0
data = data.drop(data[mask].index)

In [38]:
# Obtener el número de filas después de aplicar el filtro
num_filas_despues = len(data)

In [39]:
print("Número de filas eliminadas:", num_filas_antes - num_filas_despues)

Número de filas eliminadas: 3300